* {
  margin: 0;
  padding: 0% 0;
}
body {
  /* Home */
  position: relative;
  width: 100vh;
  background: #fdfdff;
}
.header {
  /* Header */
  position: absolute;
  width: 100vh;
  height: 34px;
  left: 25px;
  top: 24px;
}
.shadepro {
  /* shadepro */
  position: absolute;
  height: 28px;
  left: 0%;
  right: 90.06%;
  top: calc(50% - 28px / 2 - 2px);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.133333px;
  color: #161c2d;
}
.Home2 {
  position: absolute;
  height: 26px;
  left: 52.71%;
  right: 44%;
  top: calc(50% - 26px / 2 - 2px);
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.1px;
}
.Home1 a {
  text-decoration: none;
  color: #161c2d;
}
.Home2 a {
  text-decoration: none;
  color: #161c2d;
}
.Home3 a {
  text-decoration: none;
  color: #161c2d;
}
.Home1 {
  /* Home */
  position: absolute;
  height: 26px;
  left: 48.13%;
  right: 49.16%;
  top: calc(50% - 26px / 2 - 2px);
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  /* identical to box height, or 173% */
  text-align: center;
  letter-spacing: -0.1px;
  color: #161c2d;
}
.Home3 {
  /* Home */
  position: absolute;
  height: 26px;
  left: 57.87%;
  right: 38.52%;
  top: calc(50% - 26px / 2 - 2px);

  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  /* identical to box height, or 173% */
  text-align: center;
  letter-spacing: -0.1px;
  color: #161c2d;
  text-decoration: none;
  text-decoration-line: none;
}
.Kart {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1520px;
  top: 0px;
  background-image: url(/cart-simple.svg);
  background-repeat: no-repeat;
}
.kart-simple {
  position: absolute;
  left: 98.71%;
  right: 0%;
  top: 0%;
  bottom: 41.18%;
}
footer {
  position: absolute;
  width: 1601px;
  height: 533px;
  top: 1929px;
  padding: 0.5px 0.5px 0.5px 0.5px;
  opacity: 0px;
}
.footer ul {
  font-family: Arial;
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  color: black;
}
.container_footer {
  display: flex;
  align-items: center;
  margin-top: 121px;
  margin-left: 435px;
  gap: 65px;
  align-items: baseline;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: gray;
}
.footer1 {
  position: absolute;
  left: 245px;
}
.footer5 ul {
  color: #473bf0;
  font-weight: bolder;
}
.Copyright {
  position: absolute;
  width: 1111px;
  height: 58px;
  bottom: 33px;
  top: 442px;
  left: 245px;
  right: 245px;
  display: flex;
  align-items: end;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
}
.social {
  position: absolute;
  left: 944px;
  top: 36px;
}
.heart {
  position: absolute;
  left: 432px;
}

.BG {
  position: absolute;
  width: 1600px;
  height: 1839px;
  top: 90px;
  left: -2px;
  gap: 0px;
  opacity: 0px;
  background-color: #f4f7fa;
}
.hero {
  position: absolute;
  width: 602px;
  height: 202px;
  top: 184px;
  left: 501px;
  padding: 0px 0.5px 0px 0.5px;
  gap: 0px;
  opacity: 0px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text1 {
  font-family: Arial;
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -2px;
  text-align: center;
}
.text2 {
  text-align: center;
  font-family: Arial;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  top: 44px;
  position: relative;
  opacity: 0.7px;
  color: gray;
}
.Pricing {
  position: absolute;
  width: 1109px;
  height: 604px;
  top: 505px;
  left: 245px;
  gap: 0px;
  opacity: 0px;
}
.Prectangle-container {
  display: flex;
  justify-content: space-between;
}
.Prectangle {
  position: relative;
  width: 349px;
  height: 604px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid red;
  border-radius: 10px;
  border: 1px solid #e7e9ed;
  background-color: #ffffff;
}
.Ncard {
  position: absolute;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #161c2d;
  top: 540px;
  right: 149p;
  bottom: 38px;
  left: 49px;
  opacity: 0.7;
}
.Htext {
  position: absolute;
  font-family: Arial;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 14.95px;
  letter-spacing: 1.625px;
  text-align: left;
  color: #473bf0;
  top: 37px;
  right: 229p;
  bottom: 552px;
  left: 49px;
}
.Bill {
  position: absolute;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.1px;
  text-align: left;
  color: #161c2d;
  opacity: 0.8;
  top: 169px;
  right: 209p;
  bottom: 409px;
  left: 49px;
}
.month {
  position: absolute;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.1px;
  text-align: left;
  color: #161c2d;
  top: 128px;
  right: 149p;
  bottom: 447px;
  left: 136px;
}
.dollar {
  position: absolute;
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -0.8px;
  text-align: left;
  color: #161c2d;
  top: 93px;
  right: 222px;
  bottom: 446px;
  left: 49px;
}
.List ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  top: 233px;
  left: 49px;
  list-style-type: none;
  font-family: Arial;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}
.List li {
  display: flex;
  justify-content: flex-start;
  gap: 11px;
  align-items: baseline;
}
.input6 {
  position: absolute;
  top: 469px;
  right: 95px;
  bottom: 76px;
  left: 49px;
  width: 213px;
  height: 59px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  display: flex;
  gap: 30px;
  justify-content: center;
  background-color: #c9c5f4;
}
.input6 button {
  border: none;
  text-align: center;
  text-decoration: none;
  background: none;
  font-family: Arial;
  font-size: 17px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  text-align: center;
  color: #473bf0;
}
.input5 {
  position: absolute;
  top: 469px;
  right: 95px;
  bottom: 76px;
  left: 49px;
  width: 213px;
  height: 59px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  display: flex;
  gap: 30px;
  justify-content: center;
  background-color: #473bf0;
}
.input5 button {
  border: none;
  text-align: center;
  text-decoration: none;
  background: none;
  font-family: Arial;
  font-size: 17px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  text-align: center;
  color: white;
}
.Features {
  position: relative;
  width: 1114px;
  height: 565px;
  top: 1224px;
  left: 244px;
  gap: 0px;
  opacity: 0px;
}
.fcontent {
  position: absolute;
  width: 611px;
  height: 152px;
  left: 251px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
}
.container {
  position: absolute;
  width: 1114px;
  height: 335px;
  top: 226px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}
.co {
  position: relative;
  width: 346px;
  height: 134px;
  gap: 0px;
  opacity: 0px;
}
.iconn {
  position: absolute;
  width: 39px;
  height: 37px;
  top: 9px;
  gap: 0px;
  opacity: 0px;
}
.text11 {
  position: absolute;
  height: 32px;
  left: 62px;
  gap: 0px;
  opacity: 0px;
  font-family: Arial;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-align: left;
}
.text21 {
  position: absolute;
  width: 283px;
  height: 87px;
  top: 47px;
  left: 63px;
  gap: 0px;
  opacity: 0.7;
  font-family: Arial;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}
